#online-chat-users{
    position: relative;
    top : -9px;
    position: relative;
    color : #fff;
    margin-bottom: 10px;   
    font-family: Cairo;
    border-radius: 4px;
    left : 10px;
}
#online-chat-users .btn{
  //  background-color: #3f9684;    
} 


#chat-container{
    position: fixed;
    z-index: 30;
    left : 0;
    right : 0;
    top : 0;
    bottom: 0;

    background-color : rgba(0 , 0 , 0 , .5);
   display: none;
}



#chatarea{
    position: relative;
    top : 20px;
}
#close-chat-window-non-logged {
    color : rgb(0 , 0 , 156);
    position: relative;
    display: block;
    border : 1px solid grey;
    width: 100px;
    margin-left : auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#logoutchat{

    font-size: 13px !important;
}
#chats{
//background-color : #f8f9fa !important;
}





#chats p:nth-child(2n+1) {
    background-color : #435f7a !important;
    color : #f5f5f5 !important;
    background: -moz-linear-gradient(top, #eeeefe, #fbfbfe);
    border: 1px solid #435f7a !important;
    background-image: -moz-linear-gradient(#435f7a, #435f7a) !important;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #435f7a), color-stop(1, #435f7a)) !important;

    background-image: -o-linear-gradient(top, #435f7a, #435f7a) !important;



    background: linear-gradient(top, #435f7a, #435f7a) !important;
    width : 96%;


}


#chats p {
    font-family: Cairo;
    background-color: #f5f5f5 !important;
    background: -moz-linear-gradient(top, #f5f5f5, #f5f5f5);
    background-image: -moz-linear-gradient(#f5f5f5, #f5f5f5) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #daf9da), color-stop(1, #fbfefb));
    background-image: -o-linear-gradient(top, #daf9da, #fbfefb);
    background: linear-gradient(top, #daf9da, #fbfefb);
    width : 96%;
    color: #32465a !important;
   border : 1px solid #f5f5f5 !important;
}

#send-chat-message-icon{
    position: relative;
    top : 1px;
    color : #435f7a;
    left : -5px;
}
#adchat.chat-text{
    border-radius: 10px;
    background-color: #f5f5f5;
    border : 1px solid lightgrey;
    height : 36px;
    padding-left: 10px;
    color: #32465a;
    outline:none;
    margin-top: 10px;
    padding-right: 5px;
    position: relative;
    left : -0px;
    font-family: Cairo;
}

#submit.chat-send-message-button{
    text-align: center;
    height: 30px;
    display: inline-block;
    line-height: 16px !important;
    padding-bottom: -10px !important;
    position: relative;
    top : -4px;
    background-color: #f5f5f5;
    color : #fff;
    border : none ;
    left : -36px;
    width : 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
    
    
}
#chat-emoticons-container{
    border : 0px solid grey;
    
}
@media only screen and (min-width:612px){
  }
@media only screen and (max-width:612px){

    #adchat.chat-text{
        position: relative;
        left: -20px;
    }
    
    .chat-send-message-button#submit{
        left : -55px;
    }
    
}

#logoutchat{
    text-decoration: none;
    font-family: Cairo;
    text-transform: none;
    font-style: normal;
    border : none;
    display: block ! important;
    width : 100px;
    color : tomato !important;
}
#playbeep{
    visibility: hidden;
}
#enterchat{
    
    font-style: normal;
    font-family: Cairo;
    color : green;
}
