.circle {

    padding: 16px;
    text-align: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #1d2087;
    margin-left: auto;
    margin-right : auto;

}

.circle::before,
.circle::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.circle,
.circle::before,
.circle::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.circle {
    position: relative;
    z-index: 2;
    background-color: green;
    border: 1px solid green;
    color: #5c5eae;
    line-height: 50px;
    overflow: hidden;
}
#game-start-users-text{
    color : #fff;
}

.circle:hover {
    color: #fff;
}
.circle::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}
.circle:hover::after {
    background: #5c5eae;
    border-radius: 50%;
    -webkit-transform: scale(.9);
    transform: scale(.9);
}

.circle1 {
    opacity: 0.4;
}

.circle2 {
    opacity: 0.6;
}

.circle3 {
    opacity: 0.8;
}

.circle a {
    text-decoration: none;
    color: #fff;
}

.circle h2 {
    font-size: 60px;
}

.circle h2 small {
    color: #1d2087;
}

.circle p {
    font-size: 24px;
    line-height: 26px;
}
#game-start-circle-container{
    width : 100%;
    text-align: center;
    margin-top : 5em;
    font-family: Cairo;
}

#number-of-players-count{
    color: red;
}

#game-hint-container{
    display: none;
}

#game-start-users-text{
    font-size: 12px;
}


.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #fff;
}

#game-hints{
    background-color : #fff;
    display: inline-block !important;
    position: relative;
    left : 10px;
    border-radius: 10px;
    width : 150px;
    padding-left : 10px;
    font-family: Cairo;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top : 5px;
    color : grey;
}
#game-hint-arrow {
    position: relative;
    left: 19px;
    bottom: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: block;
    border-top: 10px solid #fff;

}
#game-potential-winning-container{
    float: right;
}

.word-sender-name{
    display: block !important;
    text-align: right;
    margin-top : 2px;
    color : tomato;
}
#game-words > span.points-earned-by-word{
    color : yell !important;
}
#points-earned{
    color : yellow;
}
#game-countdown {
    position: relative;
    left : 30px;
    font-weight: bolder !important;
    font-family: Cairo;
    font-stretch: 1px !important;
}
#game-ranking-text{
    color : #fff;
    font-family: Cairo;
    font-size: 14px;
}
p#for-your-own-good{
    display: block;
    border: 0px solid grey;
    width : 79%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-family: cairo;
    margin-top: 5px;
}
p#game-start-warning-text {
    text-align: center;
    position:relative;
    top : 10px;
    font-family: Cairo;
    color : #000;
    font-size: 15px;
    margin-top: 10px;
    display: block;
}
#game-text{
    width : 100%;
}
